
<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.name %>
</p>   

<p>
  <strong>User Bio:</strong>
  <%= @user.aboutme %>
</p>

<p>
  <% if @user.loggedin == 1 %>
    <strong>Online</strong>
  <% else %>
    <strong>Offline</strong>
  <% end %>
</p>  
      
<br/>   
      
<%= link_to 'User Search', usersearch_path %> <p>
<%= link_to 'List of all SentenceZing members', users_path %> 

<br/>

<center> <div>
  <% if @user.microposts.any? %>
    <ol class="microposts">
      <%= render @microposts %>
    </ol>
    <%= will_paginate @microposts %>
  <% end %>
</div> </center>
<br/>