<p id="notice"><%= notice %></p>

<h1><%= @story.title %></h1>
<h2><%= @story.category %></h2>

  <p>
  <% if @story.microposts.any? %>
      <%= render @story.microposts %>
  <% end %>
  </p>
<br/>

<%= link_to 'Back', stories_path %>
